name: Auth App CI

on:
  push:
    branches: ["main"]
    paths:
      - "apps/auth/**"
      - "packages/**"
  pull_request:
    branches: ["main"]
    paths:
      - "apps/auth/**"
      - "packages/**"

jobs:
  auth-ci:
    name: Run eslint scanning
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - run: pnpm install

      - name: Lint
        run: pnpm --filter auth run lint

      - name: Build
        run: pnpm --filter auth run build
        env:
          NODE_ENV: production
          NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}
          NEXT_PUBLIC_API_GRAPHQL_URL: ${{ secrets.NEXT_PUBLIC_API_GRAPHQL_URL }}
          NEXT_PUBLIC_AUTH_URL: ${{ secrets.NEXT_PUBLIC_AUTH_URL }}
          NEXT_PUBLIC_CREATOR_URL: ${{ secrets.NEXT_PUBLIC_CREATOR_URL }}
          NEXT_PUBLIC_FAN_URL: ${{ secrets.NEXT_PUBLIC_FAN_URL }}
          NEXT_PUBLIC_APP_URL: ${{ secrets.NEXT_PUBLIC_APP_URL }}
          NEXT_PUBLIC_APP_DOMAINS: ${{ secrets.NEXT_PUBLIC_APP_DOMAINS }}
          NEXT_PUBLIC_ADMIN_URL: ${{ secrets.NEXT_PUBLIC_ADMIN_URL }}
          NEXT_PUBLIC_NODE_ENV: ${{ secrets.NEXT_PUBLIC_NODE_ENV }}
          NEXT_PUBLIC_DEFAULT_CREATOR_ID: ${{ secrets.NEXT_PUBLIC_DEFAULT_CREATOR_ID }}
          NEXT_PUBLIC_PAYPAL_CLIENT_ID: ${{ secrets.NEXT_PUBLIC_PAYPAL_CLIENT_ID }}
          NEXT_PUBLIC_IMAGE_HOST_NAME: ${{ secrets.NEXT_PUBLIC_IMAGE_HOST_NAME }}
